<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript">
    console.log("coding everybody");
    console.log('coding everybody');
    // console.log("coding everybody');  ◀ Syntax ERROR 발생!
    console.log("egoing's coding everybody");
    console.log('egoing"s coding everybody');
    // console.log('egoing's coding everybody');    ◀ ERROR 발생! 아래 방식으로 작성해줄 수 있음.
    console.log('egoing\'s coding everybody');   // ◀ "\" : escape 라고 함. 기존 기능에서 벗어나(탈출해) 다른 기능을 한다는 뜻.
</script>
</body>
</html>