<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript">
    // 줄바꿈
    console.log("coding\neverybody");

    // 문자열 연결
    console.log("'coding' + 'everybody' : ", 'coding' + 'everybody');
    console.log("'coding' , 'everybody' : ", 'coding' , 'everybody');

    // 문자열 공백 추가!
    console.log("'coding' + ' ' + 'everybody' : ", 'coding' + ' ' + 'everybody');

    let s = 'coding' + 'everybody';
    console.log("s :", s);
    // let s2 = 'coding' , 'everybody'
    // console.log("s2 :", s2)

    // 숫자와 문자의 연산
    console.log("1 + 1 = ", 1 + 1);
    console.log("'1' + '1' = ", '1' + '1');

    // 문자열의 속성 (length)
    let sentance = "coding everybody";
    console.log("'coding everybody'.length : ", sentance.length)

    // 문자열 Index (indexOf)
    let word = "code"
    console.log("'code'.indexOf('c') : ", word.indexOf("c"))
    console.log("'code'.indexOf('o') : ", word.indexOf("o"))
    console.log("'code'.indexOf('d') : ", word.indexOf("d"))
    console.log("'code'.indexOf('e') : ", word.indexOf("e"))

    // console.log("egoing's coding everybody");
    // console.log('egoing"s coding everybody');
</script>
</body>
</html>