<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript">
    // 변수 Variable :  값을 담는 컨테이너로 값을 유지할 필요가 있을 때 사용한다. 여기에 담겨진 값은 다른 값으로 변경할 수 있음.

    //Q. 100에 10을 더하고, 10을 나눈 후에 다시 10을 빼고 거기에 10을 곱해야 한다
    // 변수를 안 쓰는 경우
    console.log("100+10 = ", 100+10);
    console.log('(100+10)/10 = ', (100+10)/10);
    console.log('((100+10)/10)-10 = ', ((100+10)/10)-10);
    console.log('(((100+10)/10)-10)*10 = ', (((100+10)/10)-10)*10);

    // 변수를 사용하는 경우
    // ▼ 이 부분만 수정하면 됨
    var a = 100;

    a = a + 10;
    console.log(a);

    a = a / 10;
    console.log(a);

    a = a - 10;
    console.log(a);

    a = a * 10;
    console.log(a);

</script>
</body>
</html>