<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<script type="text/javascript">
    // 부등호 greater than Operator
    // >, < : 좌항이 우항보다 크거나 같은지 판단하는 연산자.
    console.log('10 > 20 :', 1 > 2);         // false
    console.log('10 < 20 :', 1 > 2);         // true

    // !== 으로도 쓰임. 정확하게 같지 않다는 뜻. ===의 부정 버전인듯?
    console.log('10 >= 1 :', 10 >= 1);       // true
    console.log('10 >= 10 :', 10 >= 10);       // true
    console.log('10 >= 20 :', 10 >= 20);       // false
</script>
</body>
</html>