<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script type="text/javascript">
    //비교 연산자
    // 우항과 좌항의 값들이 같은지, 다른지, 큰지, 작은지 .. 등 구분하는 것을 의미함.
    // 비교 연산자의 결과 값은 무조건 ture, false 둘 중 하나임.
    // 이러한 값의 타입을 boolean 이라고 함

    // 동등(==) 연산자 Equal Operator
    // 좌항과 우항을 비교해서 서로 값이 같으면 true, 아니면 false return
    //  = 이 두 개 붙어 있음. 대입 연산자의 대입과는 의미가 완전 ! 완벽하게 ! 다름.
    console.log('1!=2 : ', 1!=2);                   // true
    console.log('1!=1 : ', 1!=1);                   // false
    console.log('"one"!="two" : ', "one"!="two");   // true
    console.log('"one"!="one : ', "one"!="one");    // false
</script>
</body>
</html>